/* App styling */
html

.nav-user {
  text-align: center;
}

header {
  text-align: center;
}

/* Form styling */
.form{
  text-align: center;
}

.potluck-form {
  text-align: center;
}

.potluck-form-name {
  text-align: center;
}

.potluck-form-date {
  text-align: center;
}

.potluck-form-time {
  text-align: center;
}

.potluck-form-location {
  text-align: center;
}

.potluck-form-foodList {
  text-align: center;
}

.form-submit-button {
  text-align: center;
}


/* Guest page Styling */
.guest-page {
  text-align: center;
}

.potluck-form-your-name {
  text-align: center;
}

.potluck-form-isGoing-yes {
  text-align: center;
}

.potluck-form-isGoing-no {
  text-align: center;
}

.potluck-form-numberOfGuests {
  text-align: center;
}

.potluck-form-menu-checkbox {
  text-align: center;
}

.guest-submit-button {
  text-align: center;
}

/* Login Styling */
.login-form{
  text-align: center;
}

.login-username {
  text-align: center;
}

.login-password {
  text-align: center;
}

.loginBtn {
  text-align: center;
}

.back-to-signUpBtn {
  text-align: center;
}

/* Sign-Up Styling */
.sign-up-form { 
  text-align: center;
}

.signUp-username {
  text-align: center;
}

.signUp-email {
  text-align: center;
}

.signUp-password {
  text-align: center;
}

.signUpBtn {
  text-align: center;
}

.back-to-login {
  text-align: center;
}

.back-to-loginBtn {
  text-align: center;
}