/* App styling */
body, select, input, textarea {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 17pt;
		font-weight: 300;
		letter-spacing: 0.025em;
		line-height: 1.65;
}

.nav-user {
  text-align: center;
}

header {
  text-align: center;
}

/* Form styling */
.form{
  text-align: center;
}

/* Guest page Styling */
.guest-page {
  text-align: center;
}


/* Login Styling */
.login-form{
  text-align: center;
  border: 0;
	background: #242943;
  margin: 2em 0;
  color: #ffffff;
}



/* Sign-Up Styling */
.sign-up-form { 
  text-align: center;
}

